$palettes: (
  primary: (
    0: #000000,
    10: #121d21,
    20: #1a343d,
    25: #234450,
    30: #1f4d5c,
    35: #275a6b,
    40: #21677c,
    50: #21829d,
    60: #1c9ec0,
    70: #59aeca,
    80: #7fbed5,
    90: #a1cedf,
    95: #c1deea,
    98: #e0eef4,
    99: #f3f9fc,
    100: #ffffff,
  ),

  secondary: (
    0: #000000,
    10: #151221,
    20: #221a3d,
    25: #2e2350,
    30: #2d1f5c,
    35: #37266b,
    40: #35217c,
    50: #3b209d,
    60: #3d1cc0,
    70: #7459ca,
    80: #957fd5,
    90: #b2a1df,
    95: #ccc1e9,
    98: #e5e0f4,
    99: #f6f3fc,
    100: #ffffff,
  ),

  tertiary: (
    0: #000000,
    10: #122116,
    20: #1a3d23,
    25: #23502f,
    30: #1f5c2e,
    35: #266b38,
    40: #217c36,
    50: #209d3c,
    60: #1cc03e,
    70: #59ca74,
    80: #7fd596,
    90: #a1dfb2,
    95: #c1e9cc,
    98: #e0f4e6,
    99: #f3fcf6,
    100: #ffffff,
  ),

  neutral: (
    0: #000000,
    10: #141515,
    20: #2d2f2f,
    25: #393b3b,
    30: #4a4d4e,
    35: #5e6061,
    40: #646768,
    50: #828687,
    60: #989b9c,
    70: #b1b5b6,
    80: #c5cccd,
    90: #e0e0e0,
    95: #e7ecec,
    98: #f0f6f6,
    99: #f3f9fc,
    100: #ffffff,
    4: #0a0909,
    6: #0f0d0d,
    12: #1a1616,
    17: #252020,
    22: #302a2a,
    24: #342e2e,
    87: #e3dddd,
    92: #f1ebeb,
    94: #f7f1f1,
    96: #fbf5f5,
  ),

  neutral-variant: (
    0: #000000,
    10: #18191a,
    20: #292c2d,
    25: #373a3b,
    30: #3a3f40,
    35: #454a4c,
    40: #495053,
    50: #586265,
    60: #657276,
    70: #8b9497,
    80: #a5acae,
    90: #bcc1c3,
    95: #d3d6d7,
    98: #e9eaeb,
    99: #f7f7f7,
    100: #ffffff,
  ),

  error: (
    0: #000000,
    10: #211512,
    20: #3d221a,
    25: #502e23,
    30: #5c2d1f,
    35: #6b3726,
    40: #7c3521,
    50: #9d3b20,
    60: #c03e1c,
    70: #ca7459,
    80: #d5967f,
    90: #dfb2a1,
    95: #e9cdc1,
    98: #f4e5e0,
    99: #fcf6f3,
    100: #ffffff,
  ),
);
